form{
	width: 40%;
	margin: 10px auto;
}
legend,.text-bold{
	font-weight: bold;
}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
.indent li{
	padding:5px 0;
}
.send1{
	margin: 15px 0;
}
.sex-inline{
	display: inline-block;
}
textarea{
	max-width: 350px;
}
select{
	outline: 0;
}
.field,.email1{
	width: 250px;
}
p{
	margin-top: 0;
	font-style: italic;
}
.h4Margin{
	margin-bottom: 0;
}
.s-position{
	width: 150px;
}
.age1{
	width: 50px;
}